<mat-tab-group mat-align-tabs="start">
    <mat-tab label="ME">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>Welcome, My name is Jeremy Li I am an aspiring full-stack developer with experience in finance and interest in analytics

                I currently enrolled at Gerorge Brown College for computer programing analysis program. After decideding to change my career in Finance and pursue my passion and interest in programming. Over the course of the program, I have had several opportunity to create many applications from the knowledge I have learned. Scroll below or click on PROJECTS to see someof the projects I have done!</h5>
        </div>
    </mat-tab>
    <mat-tab label="Resume/Coverletter">
        
        <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="../assets/JeremyLi.pdf" download><h1>Coverletter and Resume</h1></a>

    </div>
    </mat-tab>
    <mat-tab label="Credentials">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <h3>Computer Programmer Analyst - Present </h3>
            <p>George Brown College, Ontario </p>
            <h3>Business Management – Financial Services - 2015 </h3>
            <p>Humber College, Ontario </p>
            <h3>High school Diploma – 2012</h3>
            <p>Riverdale C.I, Ontario </p>
            <h3>Toronto Chung Wah Certificate – 2010 </h3>
            <p>Toronto Chung Wah Chinese school, Ontario</p>
        </div>
    </mat-tab>
  </mat-tab-group>