<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Vison">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>To Improve the accessibility for people to find local tutors to improve their knowledge in a safe environment
            </h5>
        </div>
    </mat-tab>
    <mat-tab label="Project Requirements">
              <img src="../assets/business_diagram.png" alt="business diagram">
    </mat-tab>
    <mat-tab label="Project Plan">
       
    </mat-tab>
    <mat-tab label="Requirements">
        <div class="container">
            <h3>Wireframe 2020-01-11</h3>
            <h3>MockUp 2020-01-11</h3>
            <h3>Database 2020-01-22</h3>
            <h3>Registration 2020-02-04</h3>
            <h3>Login 2020-02-04</h3>
            <h3>Search 2020-02-19</h3>
            <h3>Booking Scheduling 2020-02-19</h3>
            <h3>Gps 2020-03-05</h3>
            <h3>session 2020-03-05</h3>
            <h3>payment 2020-03-19</h3>
            <h3>Prototype 2020-04-04</h3>
            <h3>Final 2020-04-05</h3>
         </div>
    </mat-tab>
    <mat-tab label="Wireframe">
    </mat-tab>
    <mat-tab label="Status">
        <div class="container">
            <h3>In Progress ...</h3>
        </div>
    </mat-tab>
  </mat-tab-group>
