
<mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>FootMaker</mat-card-title>
              <mat-card-subtitle>Android Apllication,Java</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                This application was a small android application that will tracks user movements through gps and displays distance and time when stopped.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="">Github</a>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>ChatApplication</mat-card-title>
              <mat-card-subtitle>React,MongoDB,FullStack,Webapp</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Web based application that allows users to sign in to different chat rooms and communicate with each other.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="">Github</a>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Cafe Tutor</mat-card-title>
              <mat-card-subtitle>Ios,Android,Flutter,Dart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Mobile Application for both IOS and Android connecting Tutors and Tutees together to improve the accessability to learn.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="">Github</a>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Airline Booking</mat-card-title>
              <mat-card-subtitle>Software, C#</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Simulated computer software of abooking system for airlines wriiten in C#
                <br>
                <br>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="">Github</a>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
